body{
    background-image: url('https://imgs.search.brave.com/66VU9VCJoZgJgPssbLatkxfeJI1ksnL-sf8sW_f4PRc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE0/ODQ0ODA5NzQ2OTMt/NmNhMGE3OGZiMzZi/P2ZtPWpwZyZxPTYw/Jnc9MzAwMCZpeGxp/Yj1yYi00LjAuMyZp/eGlkPU0zd3hNakEz/ZkRCOE1IeHpaV0Z5/WTJoOE1ueDhkRzhs/TWpCa2J5VXlNR3hw/YzNSOFpXNThNSHg4/TUh4OGZEQT0') ;
    background-size: cover;
}

#div1 {
    height: 6.25rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 0.625rem;
}


#div3 {
    text-align: center;
    height: 6.25rem;
}
#addtodo{
    width: 21.875rem;
    height: 2.1875rem;
    border-radius: 0.313rem;
    border: none;
}

.addbtn{
    height: 2.5rem;
    border-radius: 0.313rem;
    border:none;
    margin-left: 0.625rem;
    background-color: dodgerblue;
    color: white;
}
